* {
    font-family: 'Catamaran', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Stalinist One', cursive;
    color: #EE7700;
}

.callout h1, .callout h4 {
    color: white;
    text-shadow: 0 0 5px black;
}
.container {
    background: black;
    color: white;
}

a {
    color: #000077;
    text-shadow: 1px -1px rgba(255,255,255,.6);
}

a:hover {
    color: #668888;
}

p {
    text-align: justify;
}

.menu>li>a:hover {
    color: white;
}
.menu>li>a {
    text-align: center
}
.top-bar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(238,119,0,1) 35%, rgba(238,187,17,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.top-bar ul {
    background: none;
}
.top-bar-left {
    flex: 1;
}
